:root {
    --head-color: #ffb9b5;
    --neck-color: #ffceb5;
    --pecs-color: #ffeeb5;
    --delts-color: #f3ffb5;
    --triceps-color: #d2ffb5;
    --biceps-color: #b5ffdb;
    --forearms-color: #b5faff;
    --hands-color: #b5deff;
    --abs-color: #b5ffc8;
    --obliques-color: #b5e1ff;
    --quads-color: #b5b8ff;
    --adductor-color: #cfb5ff;
    --shins-color: #e5b5ff;
    --calves-color: #ffb5f6;
    --feet-color: #ffb5ca;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    line-height: 0;
}

h1 {
    font-family: "chaloops", sans-serif;
    font-weight: 700;
    font-style: normal;
    outline: 2px;
    text-shadow: 0 0 3px black;
}

h2 {
    text-shadow: 0 0 3px black;
}

.responsive-svg {
    height: 75vh;
}

.head-col {
    color: var(--head-color);
}

.neck-col {
    color: var(--neck-color);
}

.pecs-col {
    color: var(--pecs-color);
}

.delts-col {
    color: var(--delts-color);
}

.triceps-col {
    color: var(--triceps-color);
}

.quads-col {
    color: var(--quads-color);
}

.feet-col {
    color: var(--feet-color);
}

#muscle-group {
    height: 2rem;
}