
#bendi-delts {
    fill: #f3ffb5;
}

#bendi-pecs {
    fill: #ffeeb5;
}

#bendi-head {
    fill: #ffb9b5;
}

#bendi-calves {
    fill: #ffb5f6;
}

#bendi-feet {
    fill: #ffb5ca;
}

#bendi-neck {
    fill: #ffceb5;
}

#bendi-shins {
    fill: #e5b5ff;
}

#bendi-hands {
    fill: #b5deff;
}

#bendi-obliques {
    fill: #b5e1ff;
}

#bendi-quads {
    fill: #b5b8ff;
}

#bendi-abs {
    fill: #b5ffc8;
}

#bendi-forearms {
    fill: #b5faff;
}

#bendi-biceps {
    fill: #b5ffdb;
}

#bendi-groin {
    fill: #cfb5ff;
}

#bendi-triceps {
    fill: #d2ffb5;
}
