body, html{
    margin: 0 auto;
    background-color: rgb(156, 178, 219);
    font-family: 'Times New Roman', Times, serif;
}
.container{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.name{
    font-size: 10vh;
    text-transform:uppercase;
}


/* animate names once they are picked */
.picked_animation{
    animation-name:name;
    animation-duration:3s;
    animation-iteration-count: 1;
}

@keyframes names{
    0%{
        font-size:4vh;
    }
    100%{
        font-size:10vh;
    }

}